{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:no-unsanitized/DOM"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["unicorn", "react-hooks", "no-unsanitized", "header"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "caughtErrors": "all"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/display-name": "off",
    "react/no-danger": "error",
    "react/no-unstable-nested-components": ["error", { "allowAsProps": true }],
    "react/prop-types": "off",
    "react/jsx-boolean-value": ["error", "always"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "additionalHooks": "(useContainerQuery|useContainerBreakpoints)"
      }
    ],
    "unicorn/filename-case": "error",
    "curly": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: Apache-2.0"],
      2
    ],
    "no-warning-comments": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true
  },
  "globals": {
    // it is a part of es6, but supported in IE11
    "Set": true,
    "Map": true,
    "WeakMap": true
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      },
      "env": {
        "node": true,
        "es6": true
      }
    },
    {
      "files": ["jest*.js", "jest/*.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["**/__integ__/**"],
      "rules": {
        // useBrowser is not a React hook
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off"
      },
      "env": {
        "jest": true
      }
    }
  ]
}
